@model IEnumerable<ApplicationDev.Models.OrderDetail>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderItem.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderItem.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderItem.ApplicationUser.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderItem.Paid)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderItem.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderItem.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderItem.ApplicationUser.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderItem.Paid)
            </td>

            <td>
                <a asp-controller="Order" asp-action="OrderDetails" asp-route-id="@item.Id" class="btn btn-success text-white" style="cursor:pointer">
                                                                            <i class="fa fa-book" aria-hidden="true"></i> Product
                                                                        </a>
                @* <a asp-action="Details" asp-route-id="@item.Id">Details</a> | *@
                @* <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> *@
            </td>
        </tr>
}
    </tbody>
</table>
